#marker {
    background-color:  rgb(13, 9, 41);
    opacity: 0.9;
    background-size: cover;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid white;
    }
#marker:hover{
    background-color: rgb(133, 11, 86);
}

.mapboxgl-popup h4{
    border-bottom: 1px solid rgb(133, 11, 86);
    padding: 10px;
}
h4{
    font-size: 14pt;
    padding: 5px;
}
#user{
    text-align: center;
    font-size: 30pt;
    font-family: 'Noto Sans HK', sans-serif;
    color: rgb(13, 9, 41);
}

#info{
    text-align: center;
}
#map{
    width: 100%;
    height: 450px;
    border: 2px solid rgb(2, 92, 95);
    margin: 2%;
}

#mybtn{
    padding: 8px;
    background-color: white;
    border: 2px solid rgb(13, 9, 41);
    margin: 5px;
    border-radius: 12pt;
    color: black;
}
#mybtn:hover{
    background-color: rgb(13, 9, 41);
    color: white;
    
}
#submit a{
    color: black;
    white-space: nowrap;
}
#submit a:hover{
    color: white;
}

#popup{
    text-align: center;
    padding: 10px;
    max-width: 350px;
}
.profile{
    margin-top: 6%;
    width: 300px;
}
#submit{
    display: flex;
    margin: 20% 0%;
    justify-content: center;
}
a{
    padding:10px;
    text-decoration: none;
    color: rgb(12, 11, 11);
}
a:hover{
    text-decoration: none;
    color: rgb(13, 9, 41);
}
#right{
    float: right; 
}

label{
    margin:20px;
}
.posts{
    padding: 25px;
    border-bottom: 1px dotted rgb(133, 11, 86);
}

.view{
    text-align: center;
    padding: 50px;
    margin: 0px 150px 0px 150px;
}
img{
    width: auto;
    height: 100%;   
}
img:hover{
    opacity: 0.9;
}
.crop {
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(2, 92, 95);
}
.cropped{
    display: inline-block;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;  
    border: 2px solid rgb(2, 92, 95);
    object-fit: cover;
}
.crops{
    display: inline-block;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;  
    border: 2px solid rgb(2, 92, 95);
}
h1{
    font-family: 'Kaushan Script', cursive;
    padding: 10px;
    font-size: 44pt;

}
i{
    font-size: 16pt;
}
header{
    padding: 5px;
    background-color: rgb(68, 161, 146);
    border-bottom: 2px solid rgb(2, 92, 95);
}

.posts h4{
    text-align: center;
}

form{
    padding: 30px;
}
textarea{
    width: 200px;
    height: 200px;
}

p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 12pt;
}

#stick{
    position: sticky;
    top: 0;
    z-index: 1000;
}
h3{
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 18pt;
    text-align: center;
}
#loc{
    text-align: center;
}
.flex{
    display: flex;
    align-items: center;
}
.detail{
    text-align: center;
    padding: 125px;
}

footer p{
    font-size: 12pt;
    text-align: center;
}
footer h3{
    font-size: 14pt;
    font-family: 'Kaushan Script', cursive;
}
footer{
    padding: 2px;
    border-top: 1px dashed rgb(133, 11, 86);
    margin: 2px;
}

.comment{
    text-align: left;
    padding: 20px;
    display: flex;
    margin: 0px 300px 0px 40px; 
}
#options{
    text-align: right;
}
em{
    font-size: 10pt;
}
#author{
    padding: 15px;
}
.banner{
    height: 100%;
    text-align: center;
    padding: 30px;
}
@media (min-width: 800px){
    .banner{
        position: fixed;
        width: 22%;
    }

    .posts{
        margin-left: 28%;
        width: 72%;
    }

    #map{
        width: 80%;
    }

    .flex-profile{
        display: flex;
        align-items: center;
    }
}