{% load static %}
<!DOCTYPE html>
<html>
 <head>
    <title>RunawayNext</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.css' type='text/css' />
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.3.0/mapbox-gl-geocoder.min.js'></script>
 </head>
  <body>
    <div id="stick">
    <header>
      <div id="right">
      <input type="text" placeholder="Search">
        <a><i class="fas fa-search"></i></a>
       {% if user.is_authenticated %}
        <a href="{% url 'runaway:home' %}"><i class="fas fa-home"></i></a>
        <a href="{% url 'profiles:post_list' user.username %}"><i class="fas fa-map-marked-alt"></i></a>
        <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i></a>
       {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'profiles:sign_up' %}">Sign Up</a>
       {% endif %}
     </div>
     <div>
        <h1><a href="{% url 'runaway:home' %}">RunawayNext</a></h1>
      </div>
    </header>
    </div>
      <div>
      {% block content %}
      {% endblock content %}
      </div>
    <script src="{% static 'JavaScript/maps.js' %}"></script>  
  </body> 
</html>