{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
  <div  class="banner">
      <a href="{% url 'profiles:post_list' user.username %}">
      <div class="crop">
        {% if user.userprofile.image %}
        <img src="{{ user.userprofile.image.url }}">
        {% endif %}
      </div>
      </a>
      <h3><a href="{% url 'profiles:post_list' user.username %}">{{ user.username }}</a></h3>
    </div>
  {% endif %}
   
  {% for post in object_list %}
    <div class="posts">
      <div id="loc">
      <h3><strong><a href="{% url 'runaway:detail' post.pk %}">{{post.location}}</a></strong></h3>
      <p><a href="{% url 'profiles:post_list' post.username %}"><em>@{{ post.username }}</em></a></p>
      </div>
      <div class="flex">
      <div>
      <a href="{% url 'profiles:post_list' post.username %}">
      {% if post.username.userprofile.image %}
      <img class="cropped"src="{{ post.username.userprofile.image.url }}">
      {% endif %}
      </a>
      </div>
      <div class="description">
        <p>{{post.description}}</p>
        <a href="{% url 'runaway:detail' post.pk %}">READ MORE</a>
      </div>
      </div>
      
    </div>
  {% endfor %}
  
{% endblock content %}
